<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.diaryApp</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>diaryApp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>firebasegoogle</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.320355079638-mveafuhejt5ib6cunal64air7vsi4a72</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
